body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

background-color: #ffffff;
}


a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;

  min-height: 57px;
  width: 100%;
}
.site-navigation {
 display: flex;
 flex-wrap: wrap;
}

.menu-logo {
  width: 138px;
  height: 70px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #b7b7b7;
}


.intro-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.intro {
  text-align: center;
}

.index-logo {
  position: absolute;
  width: 100%;
}
.advantage-list {
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
}

.advantage-image {
  width: 800px;
  height: 255px;

}
.recomendation-list {
  display:flex;
}

.recomendation-item {
  display: flex;
}
.advantage-blue {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}


.recomendation-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;

}

.recomendation-item p {
  text-align: center;
}

.advantage .gray {
  background-color: #eeeeee;
  text-align: center;
  display: flex;
}

.choose-hotel h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
  text-align: center;

  background-color: #ffffff;
}

.choose-hotel p {
  text-align: center;
}

.search-hotel-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #766357;
  border: none;
}

.search-hotel-button:hover {
  background-color: #604e43;
}

.search-hotel-button:active {
  color: #857871;
  background-color: #503e33;
}

 .madal-map img {
  width: 100%;
  height: auto;
 }

.choose-hotel-form input {
  font: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.choose-hotel-form input:hover {
  color: #000000;

  background-color: #ebebeb;
}

.choose-hotel-form input:focus {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;;
}

.search-button {
  font: inherit;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #88b6d1;

  background-color: #5496bd;
}

footer {
  background-color: #f9fbf6;
}

.footer-column {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

.footer-column a {
  color: #000000;
}

.social-button {
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button a {
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button:hover{
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active {
   color: #88b6d1;
   background-color: #5496bd;
}
 .logo-htmlacademy {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  list-style: none;
  text-align: center;
 }

 .logo-htmlacademy a {
  color: #000000;
 }

.logo-htmlacademy:hover {
  color: #81b3d2;
}

.logo-htmlacademy:active {
  color: #bdbbbc;
}

.filters form {
  background-color: #4876a0;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-button {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.filter-infrastructure {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff
}

.filter-housing {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff
}

.catalog-column h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-list b {
  font-size: 12px;
  line-height: 18px;
}

.catalog-list-button {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.catalog-list-button a {
  color: #b2b2b2;
}

.catalog-list-button-rating,
.catalog-list-button-type {
  border-bottom: 1px dashed #81b3d2;
}

.catalog-list-button-price:hover {
 color: #9ac2db;
}

.catalog-list-button-rating:hover {
  color: #9ac2db;
  border-bottom: 1px dashed #81b3d2;
}

.catalog-list-button-rating:active {
 color: #000000;
 border: none;
}
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.button-detail,
.button-booking {
 font-weight: 700;
 color: #ffffff;
 text-align: center;
 vertical-align: middle;
}

.button-detail {;
  background-color: #81b3d2;
}
 .button-detail:hover {
  background-color: #669ec0;
 }

.button-detail:active {
 color: #88b6d1;
 background-color: #5496bd;
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: #857871;
  background-color: #503e33;
}

.rating-result {
  border: 1px solid #e5e5e5;
  background-color: #f2f2f2;
}
