body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

background-color: #ffffff;
}


a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}


.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;

  min-height: 57px;
  width: 100%;
}
.main-navigation {
  position: relative;
  border: 1px solid transparent;
}

.main-header-logo {
  position: absolute;
  top: -1px;
  left: 550px;

}

.site-navigation {
 display: flex;
 padding-left: 0;
 justify-content: space-around;
}


.menu-logo {
  width: 138px;
  height: 70px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #b7b7b7;
}


.intro-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  margin-top: 55px;
}

.intro {
  text-align: center;
  margin-bottom: 55px;
  margin-top: 40px;
}

.index-logo {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
}

.advantage-image {
  width: 800px;
  height: 255px;

}
.recomendation-list {
  display:flex;
  padding-left: 0;
}

.recomendation-item {
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.advantage-blue {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;

  width: 400px;

}


.recomendation-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;

}

.recomendation-item p {
  text-align: center;
}

.advantage .gray {
  background-color: #eeeeee;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 250px;
}

.choose-hotel h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
  text-align: center;

  background-color: #ffffff;
}

.choose-hotel p {
  text-align: center;
}

.search-hotel-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #766357;
  border: none;

  height: 90px;
  width: 570px;
  margin: 0 auto;
  display: block;
}

.search-hotel-button:hover {
  background-color: #604e43;
}

.search-hotel-button:active {
  color: #857871;
  background-color: #503e33;
}

 .madal-map img {
  width: 100%;
  height: auto;
 }

 .choose-hotel{
  position: relative;
 }

.choose-hotel-form input {
  font: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.choose-hotel-form {
  position: absolute;
  background-color: #ffffff;
  width: 570px;
  min-height: 400px;
  top: 190px;
  left: 315px;

}


.choose-hotel-form input:hover {
  color: #000000;

  background-color: #ebebeb;
}

.choose-hotel-form input:focus {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;;
}

.search-button {
  font: inherit;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #88b6d1;

  background-color: #5496bd;
}

footer {
  background-color: #f9fbf6;
  align-items: center;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.footer-social ul {
  display: flex;
  padding-left: 0;
}
.footer-column {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

.footer-column a {
  color: #000000;
}

.social-button {
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button a {
  color: #ffffff;

  background-color: #81b3d2;
}

.social-button:hover{
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active {
   color: #88b6d1;
   background-color: #5496bd;
}
 .logo-htmlacademy {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  list-style: none;
  text-align: center;
 }

 .logo-htmlacademy a {
  color: #000000;
 }

.logo-htmlacademy:hover {
  color: #81b3d2;
}

.logo-htmlacademy:active {
  color: #bdbbbc;
}

section.filters {
  background: url("../img/filter_background.jpg");
}


.filter-form {
  display: flex;
  flex-wrap: nowrap;
  height: 220px;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-button {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;

  width: 136px;
  height: 37px;
  border-radius: 6px;
  margin-left: 420px;
  margin-top: 150px;
}

.filter-infrastructure {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;

  display: flex;
  margin-top: 25px;
  margin-left: 70px;
  margin-bottom: 30px;
}

.filter-housing {
  font: inherit;
  text-transform: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;

  display: flex;
  margin-top: 25px;
  margin-left: 70px;
  margin-bottom: 30px;
}

.catalog {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  height: 85px;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 50px;
}

.catalog-column {
  width: 135px;
  display: flex;
  align-items: center;
}

.catalog-list-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 365px;
  align-items: center;
}


.catalog-column h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}


.catalog-list-button b {
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  text-align: center;


}

.catalog-list-button {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 365px;

}

.catalog-list-button a {
  color: #b2b2b2;
}

.catalog-list-button-rating,
.catalog-list-button-type {
  border-bottom: 1px dashed #81b3d2;
}

.catalog-list-button-price:hover {
 color: #9ac2db;
}

.catalog-list-button-rating:hover {
  color: #9ac2db;
  border-bottom: 1px dashed #81b3d2;
}

.catalog-list-button-rating:active {
  color: #000000;
  border: none;
}

.hotel-result {
  width: 1200px;
  height: 455px;

}

.amara {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 155px;
  border: 1px solid #e5e5e5;
}
.hotel-img {
  width: 240px;
  height: 155px;
  margin-left: 75px;
  margin-top: 32px;
}


.result-list-vertical {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}
.result-list-button {
  display: flex;
}
.result-list-price1 {
  margin-left: 37px;
}

.result-list-price2 {
  margin-left: 63px;
}

.result-list-price3 {
  margin-left: 20px;
}

.rating {
  margin-top: 95px;
  margin-left: 450px;
}

.desert {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 155px;
  border: 1px solid #e5e5e5;
}

.villas {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 155px;
  border: 1px solid #e5e5e5;
}

}
.hotel-name {
  font-size: 21px;
  line-height: 26px
  font-weight: 700;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.button-detail,
.button-booking {
 font-weight: 700;
 color: #ffffff;
 text-align: center;
 vertical-align: middle;
}

.button-detail {
  display: block;
  width: 110px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #81b3d2;
}
 .button-detail:hover {
  background-color: #669ec0;
 }

.button-detail:active {
 color: #88b6d1;
 background-color: #5496bd;
}

.button-booking {
  display: block;
  width: 142px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #766357;
  margin-left: 7px;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: #857871;
  background-color: #503e33;
}

.rating-result {
  border: 1px solid #e5e5e5;
  background-color: #f2f2f2;
  width: 110px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
